In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:\\Users\\ayank\\Downloads\\archive (6)\\adult.csv")
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
df=df.drop(columns=["fnlwgt"])
df=pd.get_dummies(df,columns=["workclass","education","marital-status","occupation","relationship","race","gender","native-country"])
df.head()

,age,educational-num,capital-gain,capital-loss,hours-per-week,income,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,7,0,0,40,<=50K,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,9,0,0,50,<=50K,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,12,0,0,40,>50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,44,10,7688,0,40,>50K,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,18,10,0,0,30,<=50K,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
np.sum(df.isna())

age                               0
educational-num                   0
capital-gain                      0
capital-loss                      0
hours-per-week                    0
                                 ..
native-country_Thailand           0
native-country_Trinadad&Tobago    0
native-country_United-States      0
native-country_Vietnam            0
native-country_Yugoslavia         0
Length: 108, dtype: int64

In [5]:
x=df.drop(columns=["income"])
y=df["income"]

y=y==">50K"

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

scaler=StandardScaler()

x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

Logistic Regression

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

model=LogisticRegression()
model.fit(x_train,y_train)

y_pred=model.predict(x_test)
accuracy=model.score(x_test,y_test)
confusion_mat=confusion_matrix(y_test,y_pred)
print(f"Accuracy: {accuracy}")
print(f"Confusion matrix: {confusion_mat}")

Accuracy: 0.8559729757395844
Confusion matrix: [[6975  504]
 [ 903 1387]]

SVM

In [8]:
from sklearn.svm import SVC

model=SVC(C=0.9,gamma=0.3)
model.fit(x_train,y_train)

y_pred=model.predict(x_test)
accuracy=model.score(x_test,y_test)
confusion_mat=confusion_matrix(y_test,y_pred)
print(f"Accuracy: {accuracy}")
print(f"Confusion matrix: {confusion_mat}")

Accuracy: 0.8295629030607022
Confusion matrix: [[7051  428]
 [1237 1053]]

Decision Tree

In [9]:
from sklearn.tree import DecisionTreeClassifier

model=DecisionTreeClassifier(max_depth=3)
model.fit(x_train,y_train)

y_pred=model.predict(x_test)
accuracy=model.score(x_test,y_test)
confusion_mat=confusion_matrix(y_test,y_pred)
print(f"Accuracy: {accuracy}")
print(f"Confusion matrix: {confusion_mat}")

Accuracy: 0.8514689323369843
Confusion matrix: [[7107  372]
 [1079 1211]]

Random Forest

In [10]:
from sklearn.ensemble import RandomForestClassifier

model=RandomForestClassifier(
    n_estimators=200,
    max_depth=None,
    max_features="sqrt",
    bootstrap=True,
    random_state=42
)
model.fit(x_train,y_train)

y_pred=model.predict(x_test)
accuracy=model.score(x_test,y_test)
confusion_mat=confusion_matrix(y_test,y_pred)
print(f"Accuracy: {accuracy}")
print(f"Confusion matrix: {confusion_mat}")

Accuracy: 0.8532091309243526
Confusion matrix: [[6859  620]
 [ 814 1476]]

XGBoost

In [13]:
from xgboost import XGBClassifier

model=XGBClassifier(
    n_estimators=500,
    learning_rate=0.06,
    max_depth=None,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42,
    use_label_encoder=False,
    eval_metric="logloss"
)
model.fit(x_train,y_train)

y_pred=model.predict(x_test)
accuracy=model.score(x_test,y_test)
confusion_mat=confusion_matrix(y_test,y_pred)
print(f"Accuracy: {accuracy}")
print(f"Confusion matrix: {confusion_mat}")

c:\Users\ayank\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\training.py:183: UserWarning: [19:36:15] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

Accuracy: 0.8802333913399529
Confusion matrix: [[7043  436]
 [ 734 1556]]